/*
body{
    font-family: Arial, Helvetica, sans-serif;
    background: yellowgreen;
    text-align: center;
}

h2{
    color: white;
    background-color: black;

}

ul li{
  list-style-type: none;
}

button{
    margin-left: 30px;
}
*/