body{
    font-family: Arial, Helvetica, sans-serif;
    background: url("Background.png");
    text-align: center;
    margin: 0;
}

.navigation{
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    background: black;
    position: fixed;
    top: 0px;
    width: 800px;
    margin: 0 auto;
}

.navigation a{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navigation a:hover{
    color: darkgoldenrod;
}

#index{
    color: black;
    background-color: darkgoldenrod;
    display: inline;
}

#uebermich{
   color: black;
    background-color: darkgoldenrod;
    display: inline;
}

#kontakt{
   color: black;
    background-color: darkgoldenrod;
    display: inline;
}

ol .essen{
    color: brown;
    padding: 20px;
}

.container{
    background: rgb(146, 144, 144);
    text-align: left;
    text-align: center;
    padding: 18px;
    margin: auto;
    margin-top: 15px;
    height: auto;
    width: 800px;
}

.container2{
    text-align: left;
    padding: 20px;
    margin: auto;
    width: 800px;
}


h1{
    font-size: 70px;
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 100%;
    animation-name: h1animation;
  animation-duration: 3s;
  position: relative;
}

@keyframes h1animation {
    0%  {color:black; left: 400px; top:-200px;}
    25%  {color:goldenrod; left: 400px; top:200px;}
    75%  {color:black; left:-200px; top:200px;}
    100%  {color:goldenrod; left:0px; top:0px;}
  }


h2{
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    padding: 60px;
    margin: auto;
}

h3{
    color: white;
background: darkgoldenrod;
    padding: 30px 10px 30px 10px ;
    box-shadow: 2px 2px 5px gray;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



p{
    background: burlywood;
    width: 300px;
    padding: 20px;
    margin: auto;
    margin-bottom: 0px;
    box-shadow: 2px 2px 5px gray;
}


.Bild{
    border: orange;
    border-style: solid;
    
    margin-top: 60px;
    margin-bottom: 20px;
}


.Kontaktdaten{
    border: black;
    border-style: solid;
    margin-top: 40px;
    margin-bottom: 20px;
    margin: auto;
}



#Link{
    color: green;
    background: none;
    text-decoration: none;
}

#Link2{
    color: green;
    background: none;
    text-decoration: none;
}


ul{
    list-style-type: none;
   
}

#Profilbild{
    width: 170px;
}

#htmlcode{
    width: 500px;
}

img{
    width: 100%;
        transition: all 1s ease-in-out 0.5s;
      }
      
.accounts{
    margin: auto;
    display: table;
   width: 750px;   
   border: 20px solid darkgoldenrod;
     padding: 15px; } 


form{                                                               
    display:table;
    margin: auto;
}

input{
    width: 600px;
    height: 40px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

#textfeld{
    width: 560px;
    height: 196px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 10px 20px 10px 20px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;

    resize: vertical;
}


button{                                                                 
    width: 90px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 70px;

    font-size: 1em;

    float:right;
} 

#datenschutz{
    color:black;
}

.fa.fa-instagram{                                                               
    font-size: 50px;
    color:black;
    text-decoration: none;
}

.fa.fa-facebook{
    padding-left: 20px;
    font-size: 50px;
    color:blue;
    text-decoration: none;
}

.fa.fa-youtube{
    padding-left: 20px;
    font-size: 50px;
    color: red;
    text-decoration: none;
}  
#footersocialmedia a:hover{                                             /* Icon wird optisch hervorgehoben */
    color: #4A332E;    
}
#footersocialmedia{
    padding-bottom: 80px; 
}

footer{
    width: auto;
    height: 300px;
    padding: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}


table, th, td{

    border: 5px solid black;
}

video{
    width: 320px;
    height: 640px;
    
}

h2 + p{
    color: brown;
}

p ~ p{
    color: #4A332E;
}

tr > th{
    background: rgb(247, 205, 99);
}

tbody{
    background: rgb(219, 173, 120);
}



@media screen and (max-width: 600){

    body{
        max-width: 100%;
    }
    .container{
        height: auto;
        max-width: 100%;
    }

    .container2{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .navigation{
        width: 100%;
        flex-direction: column-reverse;
        position: static;
    }
    h2{
        max-width: 100%;
    }
    p{
        max-width: 100%;
    }
    #Profilbild{
        max-width: 100%;
    }
    #htmlcode{
        max-width: 100%;
    }
    .accounts{
        max-width: 100%;
    }
    video{
        max-width: 100%;
    }
}